@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Custom: </h1>
    <!--<p>@ViewBag.Id</p>-->
    <ul>
        <!--Routing in Program.cs-->
        <li>A: @ViewBag.A</li>
        <li>B: @ViewBag.B</li>
        <li>C: @ViewBag.C</li>

        <!--Manual routing in Controller-->
        <li>id: @ViewBag.id</li>
        <li>name: @ViewBag.name</li>

        <!--add route via parametr using name-->

    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
